body {
  font-family: "Nunito Sans", sans-serif;
}

/*** Customise the OneSignal prompt ***/

.slidedown-body-icon {
  display: none !important;
}

.slidedown-body-message {
  text-align: center !important;
  padding: 322px 0 20px !important;
  background-image: url(https://picsum.photos/482/300) !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  min-width: 100% !important;
}

#slidedown-footer {
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: row-reverse;
}

/*** Spacing for the Custom Link Container ***/

.onesignal-customlink-container {
  margin: 30px 0;
}