      <!--Footer-->
      <div class="w-full pt-16 pb-6 text-sm flex justify-between items-center">
        <div class="space-x-4">
          <a href="index.html" class="text-gray-500 no-underline hover:no-underline">Home</a>
          <a href="page2.html" class="text-gray-500 no-underline hover:no-underline">Page 2</a>
          <a href="page3.html" class="text-gray-500 no-underline hover:no-underline">Page 3</a>
        </div>

        <div class="text-gray-500">
          <a class="no-underline hover:no-underline" href="#">&copy; OneSignal 2025</a>
        </div>
      </div>