 <!--Left Col-->
 <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
  <h1 class="my-4 text-3xl font-black md:text-5xl text-grey-950 text-center md:text-left">
    {{ title }}
  </h1>
  <p class="text-center md:text-2xl md:text-left">
    {{ paragraph }}
  </p>
  <div class="onesignal-customlink-container"></div>
</div>