<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> _head }}

</head>

<body class="leading-normal tracking-normal text-gray-900 tracking-wider">
  <div class="h-screen pb-14 bg-right bg-cover" style="background-image: url('assets/bg.svg')">
    <!--Main-->
    <div class="container pt-14 md:pt-28 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    
    {{> _nav }}

    {{> _left title=title paragraph=paragraph }}
    
    {{> _right }}
    
    {{> _footer }}

    </div>
  </div>
</body>

</html>